{% comment %} Collection List Logic {% endcomment %}
{%- liquid
  case section.settings.items_per_row
  when 4
    assign items_per_row = 'span-3 auto'
  when 3
    assign items_per_row = 'span-4 auto'
  when 2
    assign items_per_row = 'span-6 auto'
  when 1
    assign items_per_row = 'span-12'
  endcase

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

  if settings.section_title_align == 'left'
    assign heading_align = 'a-left'
  else
    assign heading_align = 'a-center'
  endif
-%}

{% comment %} Collection List Template {% endcomment %}
<section
  class="global__section section-collection-list collection-list-{{ section.id }} {{ section_padding }}"
  data-section-id="{{ section.id }}"
  data-section-type="collection-list">

  <div class="wrapper ">
    {% render 'snip-headings', align: heading_align, grid: 'span-12', url: routes.collection_url %}

    {% if section.blocks.size == 0 %}
      {% render 'collection-loop', items_per_row: items_per_row %}
    {% else %}
      {% assign collection = '' %}
      {% for block in section.blocks %}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {% assign collection = collections[block.settings.collection] %}
        {%
          render 'collection-grid-item',
          collection: collection,
          items_per_row: items_per_row,
          cycle: current,
          index: forloop.index
         %}
      {% endfor %}
    {% endif %}

  </div>
</section>

{% schema %}
{
  "name": "Collection list",
  "class": "dynamic-section",
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
    {
      "type": "range",
      "id": "items_per_row",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Collections per row",
      "default": 3
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "settings": {
      },
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ],
  "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "index", "page", "product", "search", "customers/account"]
}
{% endschema %}
