{% comment %} Collection List Header Logic {% endcomment %}
{%- liquid

  if settings.section_title_align == 'left'
    assign heading_align = 'a-left'
  else
    assign heading_align = 'a-center'
  endif

-%}

{% comment %} Collection List Header Template {% endcomment %}
<section
  class="collection-list-template collection-list-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="collection">

  <div class="wrapper ">
    <div class="collection-description span-8 push-2 auto mt2 pb2 a-center pt9">
      <div class="pt9">
        <h1>{{ 'collections.general.all_collections' | t }}</h1>
        {% if section.settings.text != blank %}
      	   <div class="rte">
             {{ section.settings.text }}
           </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection list header",
  "settings": [
  	{
      "id": "text",
      "type": "richtext",
      "label": "Text",
      "default": "<p>Add some descriptive text to your all collections page.</p>"
   	}
  ]
}
{% endschema %}
