{% comment %} 404 Error Template {% endcomment %}
<section class="error-page pt9 pb9">
  <div class="wrapper">
    <div class="span-12 auto a-center">
      <h1>{{ 'general.404.title' | t }}</h1>
    </div>
    <div class="push-4 span-4 a-center">
      <p>{{ 'general.404.subtext' | t }}</p>
      <a class="button btn-outline" href="{{ routes.root_url }}">{{ 'general.404.button' | t }}</a>
    </div>
  </div>
</section>
